.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  color: rgb(255, 255, 255);
  background-color: rgb(88, 14, 23);
}

.eleccion1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  margin-top: 50px;
}

.eleccion2{
  font-family: 'Courier New', Courier, monospace;
  margin-top: 50px;
  font-size: 30px;
}

.eleccion-container {
  display: flex;
  justify-content: space-around;
}

.Lotti {
  display: flex;
  justify-content: space-around;
}

.BotonLista{
  border: 2px solid; 
  font-family: 'Courier New', Courier, monospace;

}

.BotonLista:hover{
  background-color: rgb(201, 60, 93);
  box-shadow: 0 0 020px var(--color);
  border-color: var(--color);
}

.btn {
   position: relative;

   padding: 20px 50px;
   text-decoration: none;
   color: black;
   letter-spacing: 3px;
   transition: all 0.6s ease;
}

.Imagen {
  display: flex;
  justify-content: center;
}

.Imagen img {
  margin-right: 10px; /* Ajusta el margen entre las imágenes según tus necesidades */
  justify-content: center;
}
